html,body{
    text-align: center;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 90px;
    margin-top:10px;
    margin-bottom:10px;
    color:#eccbd2;
    font-weight: lighter;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.app{
    width: 500px;
    margin:auto;
    background-color: #eeeeee;
}
.app-main{
    box-shadow: 1px 1px 2px 2px #aaaaaa;
    margin-bottom: 0px;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
}
.input-container{
    display:flex;
}
.input-box{
    width: 500px;
    height: 65px;
    font-size :25px;
    font-style: normal;
    padding : 4px;
    border: 0px;
    outline: none;
    color:#999999;
}
.input-box::placeholder{
    font-style: italic;
    color:#dedede;
}
.completed-button{
    width: 50px;
    font-size:25px;
    color:#999999;
    border: 0px;
    background-color: #ffffff;
    outline: none;
}
.todo-list{
    padding:0;
    margin:0px;
}
.todo-list-element{
    display: flex;
    padding-top:5px;
    padding-bottom:5px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-top:1px solid #bbbbbb;
    position: relative;
}
.todo-check-button{
    width:30px;
    height:30px;
    font-size:0px;
    border: solid 1px #7DCFB6;
    border-radius: 50%;
    background-color: #ffffff;
    margin:10px;
    outline: none;
}
.todo-check-button.is-completed{
    font-size:20px;
    color:#7DCFB6;
}
.todo-check-button.isEditing{
   visibility : hidden;
}
.todo-value{
    flex:8;
    text-align:left;
    font-size: 24px;
    padding-left: 10px;
    word-break: break-all;
    overflow: auto;
}
.todo-check-button.is-completed + .todo-value{
    text-decoration: line-through;
    color: #999999;
}
.todo-delete-button{
    flex:1;
    visibility: hidden;
    font-size: 20px;
    border:0px;
    background-color: #ffffff;
    color:#555555;
    outline: none;
}
.todo-list-element:hover > .todo-delete-button{
    visibility: visible;
    color: #cc9a9a;
}

.todo-list-input{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50;
    outline: 0px;
    width:calc(100% - 51px);
    border : 1px solid #888888;
    box-shadow:0px 0px 6px #aaaaaa inset;
    font-size:28px;
    padding-left: 10px;
}

.todo-footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:  15px;
    color: #555555;
    text-align: center;
    padding-left: 12px;
    padding-right: 8px;
    border-top:1px solid #bbbbbb;
}
.num-of-left{
    padding:0px;
}

.filter-button,.clear-comp-button{
    background-color: #ffffff;
    color: #555555;
    border-radius: 5px;
    padding:6px;
    margin:4px;
    font-size: 15px;
    outline: none;
}
.filter-button{
    border: 1px solid #ffffff;
}
.clear-comp-button{
    border : 0px;
}
.filter-button:hover{
    border:1px solid #FEDFE1;
}
.filter-button.current{
    border:1px solid #F8C3CD;
}

.filter-button.is-visible,.clear-comp-button.is-visible{
    visibility: hidden;
}

.clear-comp-button:hover{
    text-decoration: underline;
}
.footer{
    font-size:10px;
    color: #555555;
    background-color: #eeeeee;
    margin:50px;
}
.lap1,.lap2{
    position: relative;
    margin:auto;
    background-color: #ffffff;
    height:4px;
    border:1px solid #bbbbbb;
    box-shadow: 1px 1px 1px 1px #bbbbbb;
}
.lap1{
    width:490px;
    z-index: 2;
}
.lap2{
    width:480px;
    z-index: 1;
    border-top:0px;
}